div.card {
  margin-bottom: 20px;
}

@media all and (max-width: 600px) {
  div.content.column {
    padding-left: 0px;
    padding-right: 0px;
  }
  div.card-content {
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
  }
}