html {
  height: 100%;
  overflow-y: auto;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body .app-root.app-switch-container {
  min-height: 100%;
  padding-bottom: 36px;
}
