div.field.is-horizontal>input.distance {
    height: 30px;
    width: 80px;
  }
  div.field.is-horizontal>input.time-field {
    margin-right: 15px;
  }
  div.table-wrapper {
    overflow-x: auto;
  }
  div.table-pagination {
    margin-top: 10px;
  }
  td.detail-column {
    text-align: center;
  }
  div.circular-loader {
    padding-top: 15px;
    text-align: center;
  }
  