a.card-footer-item {
    align-items: normal;
    justify-content: normal;
    padding-left: 0px;
}
div.table-wrapper {
    overflow-x: auto;
}

div.table-pagination {
    margin-top: 10px;
}

td.detail-column {
    text-align: center;
}

div.circular-loader {
    margin-bottom: 2px;
    padding-top: 15px;
    text-align: center;
}
